<a href="https://colab.research.google.com/github/tangani/Blue-Book-for-Bulldozers/blob/main/Blue_Book_for_Bulldozers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Blue Book for Bulldozers

## Import libraries and data

In [1]:
# Regular EDA and plotting libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# preprocessor
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

# Models from Scikit-Learn
from sklearn.ensemble import RandomForestRegressor

# Model Evaluations
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.metrics import mean_squared_error,mean_squared_log_error,mean_absolute_error,make_scorer

#Pipeline
from sklearn.pipeline import Pipeline
plt.style.use('seaborn-whitegrid')
from datetime import datetime

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
train_data = pd.read_csv('/content/drive/MyDrive/data_science/bluebook-for-bulldozers/Train.csv', low_memory=False, parse_dates=['saledate'])
train_data.sort_values(by='saledate',inplace=True)
train_data.head()

        SalesID  SalePrice  ...  Differential_Type  Steering_Controls
205615  1646770       9500  ...                NaN                NaN
92803   1404019      24000  ...                NaN                NaN
98346   1415646      35000  ...                NaN                NaN
169297  1596358      19000  ...           Standard       Conventional
274835  1821514      14000  ...           Standard       Conventional

[5 rows x 53 columns]

## Exploratory data analysis

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 53 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  int64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              380989 non-null  float64
 6   YearMade                  401125 non-null  int64
 7   MachineHoursCurrentMeter  142765 non-null  float64
 8   UsageBand                 69639 non-null   object
 9   saledate                  401125 non-null  object
 10  fiModelDesc               401125 non-null  object
 11  fiBaseModel               401125 non-null  object
 12  fiSecondaryDesc           263934 non-null  object
 13  fiModelSeries             56908 non-null   object
 14  fiModelDescriptor         71919 non-null   object
 15  ProductSize               190350 non-null  object
 16  fiProductClassDesc        401125 non-null  object
 17  state                     401125 non-null  object
 18  ProductGroup              401125 non-null  object
 19  ProductGroupDesc          401125 non-null  object
 20  Drive_System              104361 non-null  object
 21  Enclosure                 400800 non-null  object
 22  Forks                     192077 non-null  object
 23  Pad_Type                  79134 non-null   object
 24  Ride_Control              148606 non-null  object
 25  Stick                     79134 non-null   object
 26  Transmission              183230 non-null  object
 27  Turbocharged              79134 non-null   object
 28  Blade_Extension           25219 non-null   object
 29  Blade_Width               25219 non-null   object
 30  Enclosure_Type            25219 non-null   object
 31  Engine_Horsepower         25219 non-null   object
 32  Hydraulics                320570 non-null  object
 33  Pushblock                 25219 non-null   object
 34  Ripper                    104137 non-null  object
 35  Scarifier                 25230 non-null   object
 36  Tip_Control               25219 non-null   object
 37  Tire_Size                 94718 non-null   object
 38  Coupler                   213952 non-null  object
 39  Coupler_System            43458 non-null   object
 40  Grouser_Tracks            43362 non-null   object
 41  Hydraulics_Flow           43362 non-null   object
 42  Track_Type                99153 non-null   object
 43  Undercarriage_Pad_Width   99872 non-null   object
 44  Stick_Length              99218 non-null   object
 45  Thumb                     99288 non-null   object
 46  Pattern_Changer           99218 non-null   object
 47  Grouser_Type              99153 non-null   object
 48  Backhoe_Mounting          78672 non-null   object
 49  Blade_Type                79833 non-null   object
 50  Travel_Controls           79834 non-null   object
 51  Differential_Type         69411 non-null   object
 52  Steering_Controls         69369 non-null   object
dtypes: float64(2), int64(6), object(45)
memory usage: 162.2+ MB

In [8]:
train_data.isna().sum()

SalesID                          0
SalePrice                        0
MachineID                        0
ModelID                          0
datasource                       0
auctioneerID                 20136
YearMade                         0
MachineHoursCurrentMeter    258360
UsageBand                   331486
saledate                         0
fiModelDesc                      0
fiBaseModel                      0
fiSecondaryDesc             137191
fiModelSeries               344217
fiModelDescriptor           329206
ProductSize                 210775
fiProductClassDesc               0
state                            0
ProductGroup                     0
ProductGroupDesc                 0
Drive_System                296764
Enclosure                      325
Forks                       209048
Pad_Type                    321991
Ride_Control                252519
Stick                       321991
Transmission                217895
Turbocharged                321991
Blade_Extension             375906
Blade_Width                 375906
Enclosure_Type              375906
Engine_Horsepower           375906
Hydraulics                   80555
Pushblock                   375906
Ripper                      296988
Scarifier                   375895
Tip_Control                 375906
Tire_Size                   306407
Coupler                     187173
Coupler_System              357667
Grouser_Tracks              357763
Hydraulics_Flow             357763
Track_Type                  301972
Undercarriage_Pad_Width     301253
Stick_Length                301907
Thumb                       301837
Pattern_Changer             301907
Grouser_Type                301972
Backhoe_Mounting            322453
Blade_Type                  321292
Travel_Controls             321291
Differential_Type           331714
Steering_Controls           331756
dtype: int64

>There are too many null series with null values which are however of paramount importance, forexampletypes of vehicles. It data engineering is of paramount importance

In [6]:
train_data.describe()

            SalesID      SalePrice  ...       YearMade  MachineHoursCurrentMeter
count  4.011250e+05  401125.000000  ...  401125.000000              1.427650e+05
mean   1.919713e+06   31099.712848  ...    1899.156901              3.457955e+03
std    9.090215e+05   23036.898502  ...     291.797469              2.759026e+04
min    1.139246e+06    4750.000000  ...    1000.000000              0.000000e+00
25%    1.418371e+06   14500.000000  ...    1985.000000              0.000000e+00
50%    1.639422e+06   24000.000000  ...    1995.000000              0.000000e+00
75%    2.242707e+06   40000.000000  ...    2000.000000              3.025000e+03
max    6.333342e+06  142000.000000  ...    2013.000000              2.483300e+06

[8 rows x 8 columns]

In [20]:
train_data['saledate'] = pd.to_datetime(train_data['saledate'], errors='coerce')

In [21]:
data_eda = train_data.sort_values(by=['saledate'], ascending=True)
data_eda['saledate'].head(20)

205615   1989-01-17
92803    1989-01-31
98346    1989-01-31
169297   1989-01-31
274835   1989-01-31
75378    1989-01-31
81383    1989-01-31
134080   1989-01-31
55455    1989-01-31
55454    1989-01-31
114830   1989-01-31
54653    1989-01-31
238373   1989-01-31
98567    1989-01-31
113454   1989-01-31
92780    1989-01-31
113390   1989-01-31
127000   1989-01-31
92833    1989-01-31
32138    1989-01-31
Name: saledate, dtype: datetime64[ns]

In [22]:
data_eda['saledate'].tail(5)

393123   2011-12-30
397987   2011-12-30
392664   2011-12-30
400458   2011-12-30
400217   2011-12-30
Name: saledate, dtype: datetime64[ns]

In [23]:
data_eda.head()

        SalesID  SalePrice  ...  Differential_Type  Steering_Controls
205615  1646770       9500  ...                NaN                NaN
92803   1404019      24000  ...                NaN                NaN
98346   1415646      35000  ...                NaN                NaN
169297  1596358      19000  ...           Standard       Conventional
274835  1821514      14000  ...           Standard       Conventional

[5 rows x 53 columns]

## Data Cleaning and Feature Engineering

In [24]:
data_eda['saleYear'] = data_eda.saledate.dt.year
data_eda['saleMonth'] = data_eda.saledate.dt.month
data_eda['saleDay'] = data_eda.saledate.dt.day
data_eda['saleDayofWeek'] = data_eda.saledate.dt.dayofweek
data_eda['saleDayofYear'] = data_eda.saledate.dt.dayofyear

data_eda.drop('saledate', axis=1, inplace=True)

In [25]:
# Columns that contains strings
for label, content in data_eda.items():
    if pd.api.types.is_string_dtype(content):
        print(label)

UsageBand
fiModelDesc
fiBaseModel
fiSecondaryDesc
fiModelSeries
fiModelDescriptor
ProductSize
fiProductClassDesc
state
ProductGroup
ProductGroupDesc
Drive_System
Enclosure
Forks
Pad_Type
Ride_Control
Stick
Transmission
Turbocharged
Blade_Extension
Blade_Width
Enclosure_Type
Engine_Horsepower
Hydraulics
Pushblock
Ripper
Scarifier
Tip_Control
Tire_Size
Coupler
Coupler_System
Grouser_Tracks
Hydraulics_Flow
Track_Type
Undercarriage_Pad_Width
Stick_Length
Thumb
Pattern_Changer
Grouser_Type
Backhoe_Mounting
Blade_Type
Travel_Controls
Differential_Type
Steering_Controls

In [26]:
# Converting strings to categories
for label, content in data_eda.items():
    if pd.api.types.is_string_dtype(content):
        data_eda[label] = content.astype('category').cat.as_ordered()

In [31]:
for label, content in data_eda.items():
    if pd.api.types.is_categorical_dtype(content):
        print(label)

UsageBand
fiModelDesc
fiBaseModel
fiSecondaryDesc
fiModelSeries
fiModelDescriptor
ProductSize
fiProductClassDesc
state
ProductGroup
ProductGroupDesc
Drive_System
Enclosure
Forks
Pad_Type
Ride_Control
Stick
Transmission
Turbocharged
Blade_Extension
Blade_Width
Enclosure_Type
Engine_Horsepower
Hydraulics
Pushblock
Ripper
Scarifier
Tip_Control
Tire_Size
Coupler
Coupler_System
Grouser_Tracks
Hydraulics_Flow
Track_Type
Undercarriage_Pad_Width
Stick_Length
Thumb
Pattern_Changer
Grouser_Type
Backhoe_Mounting
Blade_Type
Travel_Controls
Differential_Type
Steering_Controls

In [36]:
for label, content in data_eda.items():
    if pd.api.types.is_categorical_dtype(content):
        print(label + " : " + str(data_eda[label][0]))

UsageBand : Low
fiModelDesc : 521D
fiBaseModel : 521
fiSecondaryDesc : D
fiModelSeries : nan
fiModelDescriptor : nan
ProductSize : nan
fiProductClassDesc : Wheel Loader - 110.0 to 120.0 Horsepower
state : Alabama
ProductGroup : WL
ProductGroupDesc : Wheel Loader
Drive_System : nan
Enclosure : EROPS w AC
Forks : None or Unspecified
Pad_Type : nan
Ride_Control : None or Unspecified
Stick : nan
Transmission : nan
Turbocharged : nan
Blade_Extension : nan
Blade_Width : nan
Enclosure_Type : nan
Engine_Horsepower : nan
Hydraulics : 2 Valve
Pushblock : nan
Ripper : nan
Scarifier : nan
Tip_Control : nan
Tire_Size : None or Unspecified
Coupler : None or Unspecified
Coupler_System : nan
Grouser_Tracks : nan
Hydraulics_Flow : nan
Track_Type : nan
Undercarriage_Pad_Width : nan
Stick_Length : nan
Thumb : nan
Pattern_Changer : nan
Grouser_Type : nan
Backhoe_Mounting : nan
Blade_Type : nan
Travel_Controls : nan
Differential_Type : Standard
Steering_Controls : Conventional

In [38]:
data_eda.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 401125 entries, 205615 to 400217
Data columns (total 57 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  int64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              380989 non-null  float64
 6   YearMade                  401125 non-null  int64
 7   MachineHoursCurrentMeter  142765 non-null  float64
 8   UsageBand                 69639 non-null   category
 9   fiModelDesc               401125 non-null  category
 10  fiBaseModel               401125 non-null  category
 11  fiSecondaryDesc           263934 non-null  category
 12  fiModelSeries             56908 non-null   category
 13  fiModelDescriptor         71919 non-null   category
 14  ProductSize               190350 non-null  category
 15  fiProductClassDesc        401125 non-null  category
 16  state                     401125 non-null  category
 17  ProductGroup              401125 non-null  category
 18  ProductGroupDesc          401125 non-null  category
 19  Drive_System              104361 non-null  category
 20  Enclosure                 400800 non-null  category
 21  Forks                     192077 non-null  category
 22  Pad_Type                  79134 non-null   category
 23  Ride_Control              148606 non-null  category
 24  Stick                     79134 non-null   category
 25  Transmission              183230 non-null  category
 26  Turbocharged              79134 non-null   category
 27  Blade_Extension           25219 non-null   category
 28  Blade_Width               25219 non-null   category
 29  Enclosure_Type            25219 non-null   category
 30  Engine_Horsepower         25219 non-null   category
 31  Hydraulics                320570 non-null  category
 32  Pushblock                 25219 non-null   category
 33  Ripper                    104137 non-null  category
 34  Scarifier                 25230 non-null   category
 35  Tip_Control               25219 non-null   category
 36  Tire_Size                 94718 non-null   category
 37  Coupler                   213952 non-null  category
 38  Coupler_System            43458 non-null   category
 39  Grouser_Tracks            43362 non-null   category
 40  Hydraulics_Flow           43362 non-null   category
 41  Track_Type                99153 non-null   category
 42  Undercarriage_Pad_Width   99872 non-null   category
 43  Stick_Length              99218 non-null   category
 44  Thumb                     99288 non-null   category
 45  Pattern_Changer           99218 non-null   category
 46  Grouser_Type              99153 non-null   category
 47  Backhoe_Mounting          78672 non-null   category
 48  Blade_Type                79833 non-null   category
 49  Travel_Controls           79834 non-null   category
 50  Differential_Type         69411 non-null   category
 51  Steering_Controls         69369 non-null   category
 52  saleYear                  401125 non-null  int64
 53  saleMonth                 401125 non-null  int64
 54  saleDay                   401125 non-null  int64
 55  saleDayofWeek             401125 non-null  int64
 56  saleDayofYear             401125 non-null  int64
dtypes: category(44), float64(2), int64(11)
memory usage: 71.5 MB

In [49]:
# Check for which numeric columns have null values
for label, content in data_eda.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            print(label + " : " + str((data_eda[label].isnull().sum() / len(data_eda[label]) * 100)))

auctioneerID : 5.019881583047678
MachineHoursCurrentMeter : 64.40885010906825

In [50]:
for label, content in data_eda.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            data_eda[label + '_is_missing'] = pd.isnull(content)
            
            data_eda[label] = content.fillna(content.median())

In [51]:
len(data_eda)

401125

In [53]:
data_eda.shape

(401125, 59)